@{
    ViewData["Title"] = "Avregistrera";
}

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary bg-gradient rounded box-shadow">
    <img src=~/icons/survey_icon.svg alt="" width="48" height="48" />
    <div class="lh-100 mx-3">
        <h1 class="mb-0 p-0 text-white lh-100">Avregistrering</h1>
        <small>Du få nu inga flera e-postutskick</small>
    </div>
</div>


<div>
   
</div>