@{
    ViewData["Title"] = "Hem";
}

<div class="d-flex flex-column flex-md-row justify-content-center align-items-center vh-100 gap-5">
    <div class="col-md-6 text-light text-center text-md-left mb-5 wow fadeInLeft" data-wow-delay="0.3s">
        <h1 class="h1-responsive font-weight-bold mt-sm-5">En Enkätplattform</h1>
        <hr class="hr-light">
        <h2 class="mb-4 h6">
            Med denna plattform kan du skapa och göra e-postutskick för enkäter. Skapa din egen mall, lägg e-postadresser från Excel eller CVS filer.
            Analysera svaren du får från enkäterna.
        </h2>
        <a class="btn btn-light">Ladda ner</a>
        <a class="btn btn-outline-light">Läs vidare</a>
    </div>
    <div class="col-md-6 col-xl-5 mt-xl-5 fadeInRight" data-wow-delay="0.3s">
        <img src="/images/phone.png" alt="" class="img-fluid">
    </div>
</div>