html,
body {
    min-height: 100%;
    user-select: none;
}

.top-nav-collapse {
    background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #424f95 !important;
    }
}

body {
    background: linear-gradient(to bottom, rgba(78, 84, 105, 0.5), rgba(143, 148, 251, 1)), url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: whitesmoke;
    border-radius: 0.3em;
    color: black;
    position: absolute;
    padding: 1px 5px 2px 5px;
    top: -1.6em;
    right: 100%;
    width: 350px;
    white-space: pre;
    display: inline-block;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}

.delete-image-button, .add-image-button, .statistic-image-button, .edit-image-button, .copy-image-button, .send-image-button, .shape-image-button, .information-image-button {
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

    .delete-image-button::before {
        content: url("/icons/trash_can_icon.svg");
    }

    .add-image-button::before {
        content: url("/icons/add.svg");
    }

    .statistic-image-button::before {
        content: url("/icons/statistic.svg");
    }

    .edit-image-button::before {
        content: url("/icons/edit.svg");
    }

    .copy-image-button::before {
        content: url("/icons/copy_icon.svg");
    }

    .send-image-button::before {
        content: url("/icons/envelope_email_icon.svg");
    }

    .shape-image-button::before {
        content: url("/icons/shapes_icon.svg");
    }

    .information-image-button::before {
        content: url("/icons/information_icon.svg");
    }