@model Tengella.Survey.Web.Models.ImportViewModel

<div class="d-flex flex-column justify-content-start align-items-center gap-5 min-vh-100 my-5">
    <div class="col-md-6 text-light text-center text-md-left fadeInLeft" data-wow-delay="0.3s">
        <h1 class="h1-responsive font-weight-bold mt-sm-5">Importera lista</h1>
        <hr class="hr-light">
    </div>

    <div class="col-6 my-3 p-5 bg-gradient rounded box-shadow">
        @using (Html.BeginForm("ImportFile", "Distribution", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                    <input type="file" name="importedFile" class="form-control-file">
            </div>

            <div class="form-group my-5">
                <button type="submit" class="btn btn-light">Spara</button>
                @Html.ActionLink("Gå tillbaka", "Index", "Distribution", null, new { @class = "btn btn-secondary"})
            </div>
        }
    </div>
</div>